# workshop files
bribri-audio-files-asr-exercise/
cim-audio-files-asr-exercise/
elan installers/

# cherokee audio data
sentence_audio
sentence_audio.zip

.DS_Store
.venv/
__pycache__/
*/__pycache__/

# training artifacts
output_w2v2/

# local script helper files
steps-isolated-cuda-asr.txt

# sub-repos
colab-script-rips/kenlm/
